<a href="#" class="favIt" id="FavIt_{{ item.id }}" data-action-url="{% url ajax_fav ctype.id item.id %}">{{ message }}</a> 
<span class="favsCounter" id="FavCounter_{{ item.id }}">{{ counter }}</span>
